:root{
    --primary-color: #4c243b;
    --secondary-color: #ac7b84;
    --auxilliary-color: #ffffff;
    --padding-horizontal: 100px;
    --card-background-color:#ffeff2;

bady, h1, h3{
    margin: 0%;
    font-family: "Poppins", sans-serif;
}

}
nav{
    background-color:var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

nav div h1{
    color: #ffffff;
}

nav div a{
    color: #ffffff;
    text-decoration: none;
    margin-right: 4px;
}

.logo{
    display: flex;
}

#homesection{
    display: flex;
    height: 80vh;
    align-items: center;
    padding-right: var(--padding-horizontal);
    padding-left: var(--padding-horizontal);
}

#homesection> img{
    aspect-ratio: 1/1;
    height: 380px;
    width: 380px;
    border-radius: 50%;
}
#homesection> div{
    padding-left: 120px;
    width: 50vw;
}
#homesection> div> h1{
    font-size: 64px;
    margin: 0;
    color: var(--primary-color);
}
#homesection> div> p{
    font-size:16px;
    margin: 0;
    padding-bottom:10px;
    font-weight:300px;
    color:var(--secondary-color);
}
#homesection>div>button{
    background-color: var(--primary-color);
    color: #fff;
    padding-left: 24px;
    padding-right: 24px;
    padding-top:12px ;
    padding-bottom:12px ;
    border-radius:50px ;
    transition: 3s;
}
#homesection>div>button:hover{
    background-color:aqua ;
    color: var(--primary-color);
    cursor: pointer;
}
#projectsection>div>h1{
    color: var(--primary-color);
    font-size: 40px;
    text-align: center;
    margin: 0;
}

#projectsection>.projects{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    padding-top:20px;
    padding-right:var(--padding-horizontal);
    padding-left: var(--padding-horizontal);
}
    

#projectsection{
    color: var(--primary-color);
    text-align: center;
    font-weight: 300;
    margin: 0;
}
#projectsection>.projects > .card{
    background-color: var(--card-background-color);
    width:311px ;
    height:344px ;
    border-radius:30px ;
    padding: 16px;
    margin:12px;
}
#projectsection>.projects>.card>button{
     background-color: var(--primary-color);
     padding-left:24px;
     padding-right: 24px;
     padding-bottom:12px;
     padding-top:12px;
     transition:3s;
     border-radius:50px;
     width: 100%;

}
#projectsection>.projects>.card>button:hover{
    background-color: pink;
    cursor:pointer;
}
#projectsection>.projects>.card>a>img{
    width:280px ;
    height: 153px;
    aspect-ratio:1/1;
    border-radius:30px;
    object-fit: cover;
}
#projectsection>div>.card>h3{
    font-size: medium;
    font-weight: bold;
}
#projectsection>div>.card{
    font-weight: 12px;
    color: var(--secondary-color);
    padding:16px;
    margin-top:12px;
}

