:root {
  --padding-horizontal: 100px;
  --paragraph-color:#525151;
}
body {
  color: black;
  font-size: medium;
  font-weight: 100px;
  margin: 0%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
nav {
  display: flex;
  background-color: bisque;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: var(--padding-horizontal);
  padding-left: var(--padding-horizontal);
  box-shadow: 5px 5px 5px black;
  border: orangered solid 2px;
  margin: 10px;
  border-radius: 10px;
}
.logo {
  display: flex;
  justify-content: space-between;
}

nav > div > a {
  margin-right: 4px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  justify-content: space-between;
}

#homesection {
  display: flex;
  gap: 50px;
  align-items: center;
  align-content: center;
  padding-right: var(--padding-horizontal);
  padding-left: var(--padding-horizontal);
  height: 80vh;
  background-color: darkgrey;
    box-shadow: 5px 5px 5px black;
  border: orangered solid 2px;
  margin: 10px;
  border-radius: 10px;
  
}

#homesection > div {
  width: 50vw;
}
#homesection > div > h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  color: black;
}
#homesection > div > p {
  font-size: 20px;
  text-align: center;
  font-weight: lighter;
  color: var(--paragraph-color);
}
#homesection > img {
  height: 350px;
  width: 350px;
  border-radius: 10%;
  margin-left: 20px;
}

#homesection > div > div {
  display: flex;
  justify-content: center;
}

button {
  all: unset;
  background-color: orangered;
  color: #000000;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 50px;
  transition: 1s;
  text-shadow: 50%;
}

button:hover {
  all: unset;
  background-color: black;
  color: rgb(255, 255, 255);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 50px;
  transition: 1s;
  text-shadow: 87%;
  cursor: pointer;
}
#projectsSection {
  height: 90vh;
  display: flex-col;
  align-content: center;
  padding-right: var(--padding-horizontal);
  padding-left: var(--padding-horizontal);
    box-shadow: 5px 5px 5px black;
  border: orangered solid 2px;
  margin: 10px;
  border-radius: 10px;
}
#projectsSection h1 {
  text-align: center;
  font-size: 50px;
}
#projectsSection> div > p {
  text-align: center;
  font-size: 16px;
  font-weight: lighter;
  color: var(--paragraph-color);
}
#projectsSection > .ct > .Arsenal > h3 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}


#projectsSection > .ct > .Arsenal > p {
  text-align: center;
  font-size: 14px; 
  margin-top: 10px;
}

#projectsSection > .ct > {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-top: 12px;
}
 
#projectsSection > .ct > .Arsenal > img {
  width: 100%;
  height: 153px;
  aspect-ratio: 1/1;
  border-radius: 30px;
  object-fit: cover;
}
#projectsSection > .ct > .Arsenal {
  width: 311px;
  background-color: antiquewhite;
  height: 400px;
  border-radius: 30px;
  padding: 16px;
  margin: 12px;
  justify-content: space-between;
}
#projectsSection > .ct > .Arsenal > button {
  background-color: orangered;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 50px;
  transition: 3s;
  text-align: center;
  width: 80%;
}
#projectsSection > .ct {
  display: flex;
}
